/* reset, 기본 요소 스타일 */
@import "@/styles/variables";

/* 크기별 스타일: size-md 기준*/
button.size-sm {
  font-size: $font-size-sm;
  padding: 4px 8px;
}

button.size-md {
  font-size: $font-size-md;
  padding: 8px 16px;
}

button.size-lg {
  font-size: $font-size-lg;
  padding: 12px 24px;
}

/* 크기별 스타일: size-md 기준*/
input.size-sm {
  font-size: $font-size-sm;
  padding: 4px 10px;
}

input.size-md {
  font-size: $font-size-md;
  padding: 8px 18px;
}

input.size-lg {
  font-size: $font-size-lg;
  padding: 12px 26px;
}
