/* 색상, 폰트, z-index 등 공통 변수 선언 */

/* 컬러 변수 */
$color-primary: #7346f3;
$color-secondary: #4a90e2;
$color-background: #ffffff;
$color-disabled: #cccccc;
$color-text-default: #3f3f3f;
$color-text-hidden: #666666;
$color-text-point: #ffffff;
$color-text-error: #df1414;
$color-border: #e8ecef;
$color-selected: #f03f45;

/* 폰트 
// <weight>: Use a value from 100 to 900
// font-optical-sizing: auto;
// font-weight: <weight>;
// font-style: normal;
*/
$font-base: "Noto Sans KR", sans-serif;
/* 폰트 크기 
// button-sm: 12px;
// button-md: 16px;
// button-lg: 18px;
*/
$font-size-xs: 0.625rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
