/* 전역 스타일 (reset 포함) */
@import "./variables";
@import "./mixins";
@import "./media";
@import "./base";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Pretendard", sans-serif;
  color: #222;
  background-color: #fafafa;
}
