/* src/components/ui/Input.module.scss */
@import "@/styles/variables";
@import "@/styles/base";

/* 공통 스타일 */
.icon-wrapper {
  display: flex;
  gap: calc(var(--spacing) * 2);
}

.icon {
  margin: 6px 2px;
  color: $color-text-hidden;
}

.helper-text {
  margin-top: 4px;
  font-size: $font-size-xs;
  color: $color-text-hidden;
}

/* 에러 스타일 */
.error {
  border-color: $color-text-error;
  margin-top: 4px;
  color: $color-text-error;
  font-size: $font-size-xs;
}
