/* src/components/ui/styles/SortFilterControls.module.scss */
@use "sass:color";
@use "@/styles/variables" as *;

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: calc(var(--spacing) * 2);
  margin-block: 4px;
}

.button-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.filter-button {
  background: $color-background;
  color: $color-text-default;
  border-color: $color-border;
  border-radius: 18px;
  padding: 2px 11px;
  position: relative;
  cursor: pointer;
  transition: $color-background 0.2s, color 0.2s;

  &:hover {
    background-color: color.adjust($color-primary, $lightness: -10%);
  }
}

.filter-button.selected {
  border-color: $color-selected;
  background: $color-selected;
  color: $color-text-point;
}

.sort-select {
  width: fit-content;
  padding: 4px 6px;
  border-color: $color-border;
  border-radius: 4px;
  background: $color-background;
  color: $color-text-default;
}
